.image2 {
  margin-top: -350px;
  height: 340px;
}
.button1 {
  //   position: absolute;
  right: 251px;
  top: -99px;
  width: 12px;
  height: 12px;
}
.button2 {
  //   position: absolute;
  right: 401px;
  top: -143px;
  width: 12px;
  height: 12px;
}

.button3 {
  //   position: absolute;
  right: 114px;
  top: -202px;
  width: 12px;
  height: 12px;
}
.button4 {
  //   position: absolute;
  right: 376px;
  top: -289px;
  width: 12px;
  height: 12px;
}

.button5 {
  //   position: absolute;
  right: 139px;
  top: -61px;
  width: 12px;
  height: 12px;
}
.button6 {
  //   position: absolute;
  right: 151px;
  top: -42px;
  width: 12px;
  height: 12px;
}
.button7 {
  //   position: absolute;
  right: 107px;
  top: -63px;
  width: 12px;
  height: 12px;
}
.button8 {
  //   position: absolute;
  right: 119px;
  top: -45px;
  width: 12px;
  height: 12px;
}
.button9 {
  //   position: absolute;
  right: 131px;
  top: -26px;
  width: 12px;
  height: 12px;
}
.button10 {
  //   position: absolute;
  right: 143px;
  top: -8px;
  width: 12px;
  height: 12px;
}
.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
